body{
  background-image: linear-gradient(to right top, #020e1f,
     #004769, #00888e, #00c974, #b0ff00);
  font-family: 'IBM Plex Sans Devanagari', sans-serif;
  text-align: center;
  margin-top: 250px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 75px; 
  color: #A8EB12;
}
h3{
  padding-left: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #A8EB12;
}
img{
  height: 350px;
  width: 350px;
  border-radius: 400px;
}
p{
    margin: auto;
    color: #D5FFD1;
    font-size: 40px;
}
a{
  color: #D5FFD1;
  text-decoration: none;
}
a:hover{
  color: #A8EB12;
}
/* class section */
.p{
  padding-left: 40px;
  font-size: 35px;
}
.social{
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.coffee{
  background-color: #000E37;
  text-align: left;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 33px;
  border-radius: 20px;
  width: 750px;
  margin: auto;
  margin-bottom: 30px;
}
.contact{
  background-color: #000E37;
  text-align: left;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 33px;
  border-radius: 20px;
  width: 750px;
  margin: auto;
}
.copyright{
  width: 200px;
  padding-top: 40px;
  margin-bottom: 100px;
}
.copyright:hover{
  color: #A8EB12;
} 
